modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/nexusproxy: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/nexusproxy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/nexusproxy run dev"
cwd = "./artifacts/nexusproxy"
waitForPort = 23432
router = "path"

[workflows.workflow.tasks.env]
PORT = "23432"
BASE_PATH = "/nexusproxy/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 23432
externalPort = 3000

[[ports]]
localPort = 23433
externalPort = 3002

[[ports]]
localPort = 23434
externalPort = 3001

[[ports]]
localPort = 23435
externalPort = 5000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
WALLET_USDC = "0xfe601096668c46d4bb0bd4e3c93751a3a8f4b3e5"
WALLET_USDT_TRC20 = "TZADiUxhu9Y5bvJUMbMtBgFW43KqQ1hzaD"
WALLET_BTC = "1EqgNKJMmnnWpGjYZJAapDEyyXruXxLCYj"

[objectStorage]
defaultBucketID = "replit-objstore-afbff366-eee5-4550-bbcb-de243258d865"
